MAT651_Complex/Assignments_Exams/2140327_MAT651_CIA1.ipynb
MAT651_Complex/Assignments_Exams/.ipynb_checkpoints/2140327_MAT651_CIA1-checkpoint.html
MAT651_Complex/Assignments_Exams/2140327_MAT651_CIA1.html
MAT651_Complex/Assignments_Exams/2140327_MAT651_CIA1.pdf
MAT651_Complex/Assignments_Exams/assignment1.pdf
MAT651_Complex/Assignments_Exams/assignment2_async1.pdf
MAT651_Complex/Assignments_Exams/assignment3_asyn2.pdf
MAT651_Complex/Assignments_Exams

MAT651B_NumericalMethods/2140308_MAT651B.ipynb
MAT651B_NumericalMethods/TOPIC_3_AND_4_REGULA FALSI_FIXED POINT_NEWTON RAPHSON (1).ipynb
MAT651B_NumericalMethods/MAT651D_CIA3_QuatumSimulation.ipynb
MAT651B_NumericalMethods/planetOrbit_v2.ipynb
MAT651B_NumericalMethods/MAT651D_MSE.ipynb
MAT651B_NumericalMethods/NumMeth_Tunneling.ipynb
MAT651_Complex/2140327_MidSem
MAT651_Complex/2140327_MidSem.pdf
MAT651_Complex/MAT651_MSE.ipynb
MAT651_Complex/.ipynb_checkpoints/MAT651_MSE-checkpoint.ipynb
MAT651B_NumericalMethods/.ipynb_checkpoints/MAT651D_CIA3_QuatumSimulation-checkpoint.ipynb
MAT651B_NumericalMethods/.ipynb_checkpoints/MAT651D_MSE-checkpoint.ipynb
MAT651B_NumericalMethods/.ipynb_checkpoints/NumMeth_Tunneling-checkpoint.ipynb
MAT651B_NumericalMethods/.ipynb_checkpoints/planetOrbit_v2-checkpoint.ipynb
MAT651B_NumericalMethods/Tunneling.gif
