MAT651_Complex/Assignments_Exams/2140327_MAT651_CIA1.ipynb
MAT651_Complex/Assignments_Exams/.ipynb_checkpoints/2140327_MAT651_CIA1-checkpoint.html
MAT651_Complex/Assignments_Exams/2140327_MAT651_CIA1.html
MAT651_Complex/Assignments_Exams/2140327_MAT651_CIA1.pdf
MAT651_Complex/Assignments_Exams/assignment1.pdf
MAT651_Complex/Assignments_Exams/assignment2_async1.pdf
MAT651_Complex/Assignments_Exams/assignment3_asyn2.pdf
MAT651_Complex/Assignments_Exams

MAT651B_NumericalMethods/2140308_MAT651B.ipynb
MAT651B_NumericalMethods/TOPIC_3_AND_4_REGULA FALSI_FIXED POINT_NEWTON RAPHSON (1).ipynb
